/.gradle
.DS_Store
/.gradle
/composeApp/build
/build
/.gradle/8.9
/.gradle
/.kotlin
/gradle/wrapper
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/misc.xml
/.gradle
/.gradle/buildOutputCleanup
*.probe
/.gradle/8.9
.gradle/8.9/checksums/checksums.lock
.gradle/8.9/gc.properties
.gradle/8.9/fileHashes/fileHashes.bin
/gradle
/.gradle
